<div class="container">
  <div class="row">
    <div class="headline col l12 offset-s2">
      <p class="headline-introduction">let's</p>
      <p class="headline-content">login</p>


<div>
	<%if flash[:alert] %> 	
		<p id="notice"><%= flash[:alert] %> </p>
	<%end %> 
		<%= form_tag "/login" do %> 
			<fieldset>
			<div>
				<%= label_tag :phone_number, "phone number" %> 
				<%= text_field_tag :phone_number, params[:phone_number] %> 
				<%= label_tag :password, "password" %> 
				<%= password_field_tag :password, params[:password] %> 
			</div>
			<div>
				<%= submit_tag "login" %> 
			</div>
			</fieldset>
	<%end %> 
	<br>
	<%= link_to "sign up", "/users/new" %> 
</div>

</div>
</div>
</div>