  <div class="container">
    <div class="row">
      <div class="headline col l12 offset-s2">
      <% if current_user %> 
        <p class="headline-introduction">welcome,</p>
        <p class="headline-content"><%= current_user.fname %> </p>
        <% end %> 

<p id="notice"><%= notice %></p>

<p>Goals
      <div class="collection">
        <% if @goals.count == 0 %>
          <a href="/goals/new" class="collection-item">No goals yet...add a goal</a>
        <% else %> 
          <% @goals.reverse.each do |goal| %>


            <a href="/goals/<%= goal.id %>" class="collection-item"><%= goal.goal_title %></a>
            <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

		</div>
	</div>
</div>
