  <div class="container">
    <div class="row">
      <div class="headline col l12 offset-s2">
      <% if current_user %> 
        <p class="headline-introduction">welcome,</p>
        <p class="headline-content"><%= current_user.fname %> </p>
        <% end %> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Potential met:</strong>
  <%= @user.potential_met %>
  <% @goals.reverse.each do |goal| %>
    <li><a href="/goals/<%= goal.id %>"><%= goal.goal_title %></a></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

		</div>
	</div>
</div>
