<p id="notice"><%= notice %></p>

<h1>Listing Goal Data Pts</h1>

<table>
  <thead>
    <tr>
      <th>Data pt num</th>
      <th>Perceived performance</th>
      <th>Perceived progress</th>
      <th>Actual progress</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_data_pts.each do |goal_data_pt| %>
      <tr>
        <td><%= goal_data_pt.data_pt_num %></td>
        <td><%= goal_data_pt.perceived_performance %></td>
        <td><%= goal_data_pt.perceived_progress %></td>
        <td><%= goal_data_pt.actual_progress %></td>
        <td><%= goal_data_pt.goal %></td>
        <td><%= link_to 'Show', goal_data_pt %></td>
        <td><%= link_to 'Edit', edit_goal_data_pt_path(goal_data_pt) %></td>
        <td><%= link_to 'Destroy', goal_data_pt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal data pt', new_goal_data_pt_path %>
