  <div class="container">
    <div class="row">
      <div class="headline col l12 offset-s2">
      <% if current_user %> 
        <p class="headline-introduction">let's</p>
        <p class="headline-content">add a new goal </p>
        <% end %> 


<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal_title %><br>
    <%= f.text_field :goal_title %>
  </div>
  <div class="field">
    <%= f.check_box :track_time, id: "track_time"%>
    <%= f.label :"track time", for:"track_time",  id: "track_time" %>
  </div>
    <div class="field hidden" id = "time_allotted">
      <%= f.label :"enter time (eg, 5 hours)" %><br>
      <%= select_tag :time_allotted_units, options_for_select([["hours", 1], ["days", 2], ["weeks", 3],["months", 4], ["years", 5]]), :class => 'time_units' %>
      <%= f.number_field :time_allotted %>
    </div>
  <div class="field">
    <%= f.label :goal_description %><br>
    <%= f.text_area :goal_description %>
  </div>
  <div class="field"> 
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>

      </div>
  </div>
</div>
