  <div class="container">
    <div class="row">
      <div class="headline col l12 offset-s2">
      <% if current_user %> 

          <%if flash[:alert] && flash[:notice]%>   
            <p class="headline-introduction"><%= flash[:alert] %> </p>
            <p class="headline-content"> <%= flash[:notice] %> </p>

          <%end %> 

        <% end %> 


<p id="notice"><%= notice %></p>

<p>
  <strong>Goal title:</strong>
  <%= @goal.goal_title %>
</p>

<p>
  <strong>Goal description:</strong>
  <%= @goal.goal_description %>
</p>

<%= link_to 'Destroy', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', goals_path %>


      </div>
    </div>
  </div>