<p id="notice"><%= notice %></p>

<p>
  <strong>Goal title:</strong>
  <%= @goal.goal_title %>
</p>

<p>
  <strong>Time allotted:</strong>
  <%= @goal.time_allotted %>
</p>

<p>
  <strong>Goal description:</strong>
  <%= @goal.goal_description %>
</p>

<p>
  <strong>Goal potential met:</strong>
  <%= @goal.goal_potential_met %>
</p>

<p>
  <strong>Total data pts:</strong>
  <%= @goal.total_data_pts %>
</p>

<p>
  <strong>Time recommendation:</strong>
  <%= @goal.time_recommendation %>
</p>

<p>
  <strong>Speed recommendation:</strong>
  <%= @goal.speed_recommendation %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
