<!DOCTYPE html>
<html>
<head>
  <title>Goltracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	 <!-- Dropdown Structure -->
	<div class="navbar-fixed">
		<nav class="white" role="navigation">
	    <div class="nav-wrapper container">
	      <a id="logo-container" href="/" class="brand-logo left"><img class="logo" src="/assets/goltracker_logo.png" alt=""></a>

	      <a href="#" data-activates="nav-mobile" class="button-collapse right"><img class="menu" src="/assets/menu.png" alt=""></a>

         <ul class="right hide-on-med-and-down">
        <%if current_user %> 
          <li><a href="/users/<%=current_user.id%>">profile</a></li>
        <%end  %> 
          <li><a href="/goals/new">add a goal</a></li>
          <li><a href="/goals/new">logout</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/users">profile</a></li>
          <li><a href="/goals/new">add a goal</a></li>
          <li><a href="/goals/new">logout</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="headline col s6 offset-s3">
        <p class="headline-introduction">welcome</p>
        <p class="headline-content">Nicolai</p>
      </div>
    </div>
  </div>
    
<div class="container">
  <%= yield %>
</div>

	<footer class="page-footer grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6">
          <p class="black-text text-lighten-4" style="display: inline-block">Updates on the future of this app</p>
        </div>

        <div class="col l3 s12">
          <input type="textarea" placeholder="email"></input>
        </div>
        
      </div>
    </div>
    <div class="container">
    	Made by <a class="black-text text-lighten-3" href="http://www.github.com/nicolairobles">Nicolai Robles</a>
    </div>
    <br>
  </footer>

</body>
</html>
